body {
    margin: 0;
    font-family: Arial;
  }
  
  header {
    background-color: black;
    padding:15px 0px 15px 0px;
  }
  
  .container {
    width: 1200px;
    margin: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 0px 25px;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 60px; 
    
    margin-right: 10px;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 24px;
    color: white;
  }
  
  .logo span {
    color: red;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    margin: 0px 15px 0px 15px;
    font-size: 18px;
  }
  
  .signup-btn {
    background-color: red; 
    color: white;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
  }
  body {
    margin: 0;
    font-family: 'Arial';
    background-color: gainsboro; 
    
    text-align: center;
  }

  .page-content {
    padding: 50px;
  }

  .section-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .section {
    flex: 1;
    text-align: center;
    padding: 50px;
    box-shadow: 5px 5px 5px black;
    
    
  }

  .left-section {
    background-color: white;
    color: black;
  }

  .right-section {
    background-color: black;
    color: white;
  }

  .form-heading {
    font-weight: bold;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    box-sizing: border-box;
    background-color: gainsboro;
    color: black;
  }

  .contact-heading {
    font-weight: bold;
  }

  .contact-info {
    margin-top: 20px;
  }

  .icon {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  footer {
    background-color: black;
    color: white;
    padding: 20px;
  }
  
  .upper-footer {
    width: 75%;
  }
  
  .partnership-text {
    font-size: 40px;
    font-weight: bold;
    margin-left: 0px;
  }
  
  .lower-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .contact-mail {
    margin-right: 10px;
    margin-left: 50px;
  }
  .terms {
      margin-right: 70px;
  }
  .privacy {
      margin-right: 10px;
  }
  .link-term {
      text-decoration: none;
      color: white;
  }
  